{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
        <tr>
          <th scope="col">Symbol</th>
          <th scope="col">Shares</th>
          <th scope="col">Price</th>
          <th scope="col">Transacted</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in model["transactions"] %}
        <tr>
          <th scope="row">{{ transaction.symbol }}</th>
          {% if transaction["is_purchase"] == 0 %}
              <td>-{{ transaction.shares }}</td>
          {% else %}
              <td>+{{ transaction.shares }}</td>
          {% endif %}
          <td>{{ transaction.share_price | usd }}</td>
          <td>{{ transaction.created }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
