{% extends "layout.html" %}

{% block body %}

    <div class="col">
        <form class="needs-validation" novalidate action="/compare" enctype="multipart/form-data" method="POST">
            <div class="form-group">
                <label for="algorithm">Compare</label>
                <div class="circle-badge">
                    <div class="badge-content" title="1) Compare Line by line: We check to make sure each line in both files are the same&#013;&#010;2) Compare Sentences in both file: We compare sentences word(s) in both files i.e A = {File is really long} B = {File is readly short} then we highlight {File is really} since its in both files&#013;&#010;3) Compare Substrings in both file: We check for substring of length n in the files">?</div>
                </div>
                <select name="algorithm" class="custom-select" id="algorithm" required>
                    <option value="sentences">Sentences in both files</option>
                    <option value="substrings">Substrings in both files</option>
                    <option value="lines">Line by line</option>
                </select>
                <div class="invalid-feedback">Please select a comparison type</div>
            </div>

            <div class="form-group js-substring d-none">
                <label for="substringLength">Substring length</label>
                <div class="circle-badge">
                    <div class="badge-content" title="We compare substring of length N in both files i.e N = 2 and A = {really long file} B = {really short file} then we highlight {really } since its in both file">?</div>
                </div>
                <input type="number" name="length" class="form-control" id="substringLength" placeholder="Compare substring (words) in both file by length n" disabled required min="2" max="999">
                <div class="invalid-feedback">
                    Please set a substring length thats greater than 1
                </div>
            </div>

            <div class="form-group">
                <label>File One</label>
                <div class="custom-file">
                    <input type="file" name="file1" class="custom-file-input" id="file1" required>
                    <label class="custom-file-label" for="file1">Choose file...</label>
                    <div class="invalid-feedback">Please select a file to compare</div>
                </div>
            </div>

            <div class="form-group">
                <label>File Two</label>
                <div class="custom-file form-group">
                    <input type="file" name="file2" class="custom-file-input" id="file2" required>
                    <label class="custom-file-label" for="file2">Choose file...</label>
                    <div class="invalid-feedback">Please select a file to compare</div>
                </div>
            </div>

          <button class="btn btn-primary" type="submit">Compare</button>
        </form>
    </div>

<script>
  window.addEventListener('load', function() {
    handleValidationOnSubmit();
    addFileNameToFileInput();
    onDisplaySubstringField();

    var algorithm = document.querySelector('#algorithm');

    if(algorithm.value === "substrings") {
        toggleSubstringLengthField(algorithm.value)
    }
  });

  function handleValidationOnSubmit() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        // when was-validated added to <form class=".." we show errors
        form.classList.add('was-validated');
      }, false);
    })
  }

function addFileNameToFileInput() {
    // Add event listener to all file upload inputs
    document.querySelectorAll('.custom-file-input').forEach(item => {
        // when we hit back the browser keeps copy of files
        if (item.files.length > 0) {
            var fileName = item.files[0].name;
            var fileLabel = item.nextElementSibling;
            fileLabel.innerText = fileName;
        }
        item.addEventListener('change', function(event) {
            var fileName = event.target.files[0].name;
            var fileLabel = event.target.nextElementSibling
            fileLabel.innerText = fileName;
        })
    });
}

function onDisplaySubstringField() {
    // if compare algorithm is substring display substring length input field
    document.querySelector('#algorithm')
        .addEventListener('change', function(event) {
            var selectedAlgorithm = event.target.value;
            toggleSubstringLengthField(selectedAlgorithm);
        })
}

function toggleSubstringLengthField(selectedAlgorithm) {
    var substringFormGroup = document.querySelector('.js-substring');
    var substringInput = document.querySelector('#substringLength');
    var hidden = 'd-none';

    if(selectedAlgorithm === 'substrings') {
        // show substring input field
        substringFormGroup.classList.remove(hidden);
        substringInput.removeAttribute('disabled');
    } else {
        substringFormGroup.classList.add(hidden);
        substringInput.setAttribute('disabled', 'disabled');
    }
}
</script>

{% endblock %}
